<nav>
    <li><a href="#" page="sign-in">Sign In</a></li>
    <li><a href="#" page="sign-up">Sign Up</a></li>
    <li><a href="#" page="404">404</a></li>
    <li><a href="#" page="500">500</a></li>
    <li><a href="#" page="app">App</a></li>
    <li><a href="#" page="profile">Profile</a></li>
    <li><a href="#" page="profile-edit">ProfileEdit</a></li>
    <li><a href="#" page="profile-edit-pswd">ProfileEditPswd</a></li>
    <li><a href="#" page="modal">Modal</a></li>
</nav>
