<div class="container flex-column">
    {{> Title text="500" className="title__error"}}
    <p class="text-center">Не туда попали</p>
    {{> Link text="Мы уже фиксим" url="/" className="link__back"}}
</div>
