<div class="container">
    {{#> Form }}
        {{> Title text="Регистрация" className="title__h2 text-center"}}
        <div>
            {{> Input label="Почта" name="email" default=true }}
            {{> Input label="Логин" name="login" default=true }}
            {{> Input label="Имя" name="first_name" default=true }}
            {{> Input label="Фамилия" name="second_name" default=true }}
            {{> Input label="Телефон" name="phone" default=true }}
            {{> Input label="Пароль" name="password" default=true }}
            {{> Input label="Пароль (ещё раз)" name="password_repeat" default=true }}
        </div>
        {{> Button text="Зарегестрироваться" type="primary" className="mt-5" name="send" }}
        {{> Button text="Войти" type="link" name="sign_in" }}
    {{/Form}}
</div>
