<a href="#modal_avatar" class="profile__avatar">
    <img src="/assets/svg/profile-no-avatar.svg" alt="no-avatar">
    <span class="profile__avatar--edit">Поменять аватар</span>
</a>
{{> Modal id="modal_avatar" title="Загрузите файл" button="Поменять" upload=true}}