.app {
  height: 100vh;
  background: var(--bg-color);
}
.app__left {
  min-width: 310px;
  display: flex;
  flex-direction: column;
}
.app__right {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.app__border {
  border: 1px solid var(--border-color);
}
/* Messages header */
.messages__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0;
  position: relative;
}
.messages__header:after {
  position: absolute;
  content: '';
  border-bottom: 1px solid var(--border-color);
  width: 100%;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}
.circle {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background: var(--bg-second-color);
}
/* Messages body */
.messages__body {
  width: 100%;
  margin-top: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: auto;
}
/* Messages footer */
.messages__footer {
  display: flex;
  align-items: center;
  position: relative;
}
.messages__area {
  background: var(--bg-second-color);
  padding: 7px 15px;
  border-radius: 30px;
  padding-left: 15px;
  border: none;
  resize: none;
}
.messages__area:focus {
  outline: none;
}
