.profile__row {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.25rem;
  margin-bottom: 0.5rem;
  position: relative;
}
.profile__row:after {
  position: absolute;
  content: "";
  border-bottom: 1px solid var(--border-color);
  width: 100%;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}
.profile__text {
  color: var(--text-secondary-color);
}
.profile__edit {
  margin-top: 2rem;
}
.profile .link {
    font-size: 13px;
    text-decoration: none;
}
.profile__pswd {
  border: none;
  text-align: right;
}
.profile__pswd:focus {
  outline: none;
}