<div class="messages__footer mx-5">
    {{> Button type="icon" className="button__attach popup-trigger" name="attach" }}
    {{> Popup id="popup_attach" position="top" }}
    <textarea class="messages__area w-100 mx-2" placeholder="Сообщение" rows="1" name="message" autofocus></textarea>
    {{> Button type="icon" className="button__send" name="send" }}
</div>
