<div class="profile">
    <div class="profile__left">
        {{> Button type="icon" className="button__back" back=true name="back-btn"}}
    </div>
    <div class="profile__right">
        {{> ProfileAvatar}}
        {{> ProfileList3}}
    </div>
</div>